#info {
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    border-radius : 0px 20% 0px 0px;
    background: #fff;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
}

#info img {
    margin: 0px;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

#info h2 {
    margin: 0px;
    margin-top: 5px;
    margin-right: 10px;
}

#info h2 img {
    margin-right: 20px;
}