#music img {
    width: 50px;
    height: 50px;
}

#music {
    position: absolute;
    top: 5px;
    left: 5px;
    background: #fff;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding: 5px 15px 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#music-text {
    position: relative;
    float: right;
    left: 10px;
}

#music-text h3 {
    margin-top: 5px;
    font-size: 20px;
}

#music-text h2 {
    margin: 0px;
    margin-top: -20px;
    font-size: 20px;
}

#music-icon {
    position: relative;
    float: left;
}
