#player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#player img {
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(255,255,255);
  border-width: 2px;
  text-shadow: 1px 1px 1px #000000;  
}

#player h1 {
  margin: 0px;
  color: rgb(255,255,255);
  text-shadow: 1px 1px 1px #000000;
}

#player h2 {
  margin: 0px;
  margin-bottom: 20px;
  color: rgb(255,255,255);
  text-shadow: 1px 1px 1px #000000;
}
